{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var defaultData = []
var labels = []
$.ajax({
    url: endpoint,
    method: "GET",
    success: function (data) {
	     
	      labels = data.labels
		  defaultData = data.default
		  console.log(defaultData)
	      var ctx = document.getElementById('myChart').getContext('2d');
		  var myChart = new Chart(ctx, {
			    data: {
			        	labels: labels,
			        	datasets: [{
            			type: 'line',
            			label: 'data',
            			data: [10, 20, 30, 40,50,60]
    					}, 	{
            			type: 'line',
                   		label: '# of Votes',
			            data: defaultData,
					}]
				}
			})
    },
    error: function (error_data) {
      console.debug("error"); 
      console.debug(error_data);
    }
  });




{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <h1>Hello World</h1>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>

{% endblock content %}